
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


:root{
    --orange-color:hsl(6.95deg 71.93% 55.29%);
    --green-color:hsl(84.47deg 44.98% 44.9%);
    --grey-color:hsl(0deg 0% 96.08%);
}
body{
    font-family:  'Roboto', sans-serif;
    margin: 0 !important;
}

.top-nav{
   background-color: var(--orange-color);
   color:hsl(41.6deg 92.59% 84.12%);
   padding: 1rem;

}
.second-top{
border-bottom: 1px solid rgb(145, 142, 142);
padding: .6rem;
}
.second-top p{
    margin-bottom: 0 !important;
}
.logo-span{
    color:hsl(6.95deg 71.93% 55.29%);

}
.second-top input{
    border: 2px solid hsl(0deg 0% 96.08%);
    padding:0.4rem 2.5rem;
    width:80%;
}
.search-icon{
    background-color: var(--green-color);
    padding: 10px 12px;
}
.headphone-top{
    color: var(--green-color);
    font-size: 2rem;
    margin-right: 10px;
}
/* HEADER */

/* card */
.card-img{
    height: 3rem;
}
#carousel .item{
    height: 37rem;
    background-image: url("assets-image/slider-1.webp");
    background-size: cover;
    
}
.red-para{
    background-image: url("assets-image/subtitle.avif");
    background-repeat: no-repeat;
    height: 3rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.content{
    float: right;
    margin-right: 20rem;
    margin-top: 4rem;
    line-height: 3rem;
}
.main-heading{
    font-size: 4rem;
    font-weight: 500;
}
.main-btn{
    background-color: var(--green-color) ;
    color:#ffffff;
    padding: .5rem 1rem;
    border: none;
    border-radius: 2px;
    width: fit-content;
}
.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}
/* header */
.second{
    margin-top: 3rem;
}
.cart img{
    height: 8rem;
    text-align: center !important; 
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.cart{
    /* padding: 2rem; */

    width: 14rem; 
    background-color: hsl(40deg 42.86% 95.88%);
    text-align: center;
    padding-bottom: 2rem;
    /* width: 180%; */
    /* margin: 2rem; */
}
/* grocery */
.margin-top{
  margin-top: 3rem;
}
.right-box{
    padding: 2rem;
    /* position: relative; */
}
.black-img{
  position: relative;
}
.right-box img{
  /* position: relative; */
  /* z-index: -1; */
  /* z-index: -1; */
}

.black-img:after{
  /* z-index: -1; */
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
}
.right-box img::after{
  content:"";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  background-color: #000;

}
.left-box{
    padding: 3rem;
}
.right-box img{
  height: auto;
  width: 100%;

}
.heading{
    font-size: 2.5rem;
}
.red-text{
    color:hsl(6.47deg 72.02% 62.16%);
    font-weight: 600;
}
/* product */
.products{
    padding: 3rem;
    background-color: hsl(0deg 33.33% 97.65%);
}
.prod-box img{
    height: 12rem;
    text-align: center !important; 
    /* margin-top: 2rem; */
    /* margin-bottom: 1rem; */
}
.prod-box{
    /* padding: 2rem; */
    text-align: center;
    margin-bottom: 2rem;

    width: 17rem; 
    background-color: #ffffff;
    /* text-align: center; */
    /* padding-bottom: 2rem; */
    /* width: 180%; */
    /* margin: 2rem; */
}
.prod-detail{
    text-align: center;
    padding-bottom: 2rem;
}
.green-text{
    color: var(--green-color);
}
.del{
    text-decoration: line-through;
    margin-left: 2px;
}
p{
    margin-bottom: 0;
}
.prod-box p{
    font-weight: 500;
}
/*  */
#maindiv{
    /* border: 2px solid black; */
    overflow: hidden;
    white-space: nowrap;
    width: 100% !important;
    background-color: var(--orange-color);
    color:#ffffff;
  }
  
  #div1 {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  #div2 {
    display: inline-block;
    animation: marquee2 10s linear infinite;
    animation-delay: 5s;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee2 {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-200%);
    }
  }
  /* red line codepen */
  
body { margin: 20px; }

.marquee {
  height: 25px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  background-color: var(--orange-color);
  color:#ccc;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
  /* deal */
  .d1{
    border: 1px solid #ccc;
    padding: .5rem 1rem;
  }
  .d1 h6{
    margin-bottom: .2px;
  }
  .deal-sec{
    margin-top: 4rem;
  }
  .cards{
    background-image: url("assets-image/grocery-banner-01.webp");
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 2rem;
  }
  .card2{
    background-image: url("assets-image/grocery-banner-02.webp");
  }
  .card3{
    background-image: url("assets-image/grocery-banner-03.webp");
  }
  /* testimonial */
  .heading {
    /* text-align: center; */
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
.white-heading{
    color: #cc5252;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #7f4646;
}
/*-----Testimonial-------*/

.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    /* background: url(img/testimonial.bg-top.png); */
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 375px;
    position: relative;
    /* background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg); */
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #6e2a2a;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #853131;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #242121;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #b03030;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: #232121;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #2f2b2b;
  font-size: 22px;
}

.testimonial .carousel {
	padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}
.carousel-control-prev-icon i, .carousel-control-next-icon i{
    color:var(--orange-color);
    
    background-color:rgb(255 255 255);
    font-size: 2rem;
    border-radius: 50%;
    padding: 1rem;
    background-image: none;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e"); */
}

/* deal */
.slider{
    background-color: hsl(0deg 33.33% 97.65%);
}
/* /* subscribe */
 .subscribe .container{
    background-color: var(--green-color);
    padding: 2rem 0;
 }
 .subscribe-input{
    width: 70%;
    padding: 10px;
    border:none;
 }
 .black-subscribe{
    color: #ffffff;
    background-color: #000;
    padding: .7rem;
 }
 .green-icon{
    color:#ffffff;
 }
 /* story */
 .story{
    padding:  4rem 0;
 }
 .story-box img{
    height: 13rem;
 }
/* policy */
.policies{
    /* background-color: rgb(251 247 247); */
    padding: 3rem;
}
.full-bg{
    background-color: rgb(251 247 247) ;
}

  .policy-box i {
    color: var(--orange-color);
    background-color: #ffffff;
    /* padding: 1.5rem; */
    border-radius: 50%;
    font-size: 1.5rem;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

/* footer */
.footer{
    line-height: 2.5rem;
    padding: 2rem;
}
.logo-img img{
    width: 4rem;
    border: 2px solid hsl(0deg 0% 95.29%);
    padding: 3px;
    
}
/* last footer */
.last-footer{
    padding: 1rem;
}
/*  */


